a {
  cursor: pointer;
}

.navbar-inverse, .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  background-color: rgba(255,124,99,1.0);
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
  background-color: rgba(255,255,255,0.2);
}

.navbar-inverse .navbar-nav > li > a {
  color: rgba(255,255,255,0.8);
}

.navbar-header .navbar-toggle:hover, .navbar-header .navbar-toggle:active, .navbar-header .navbar-toggle:focus {
  background-color: rgba(255,255,255,0.2);
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: #fff;
}

.navbar-toggle .dropdown-header {
  color: rgba(255,255,255,0.8);
}
.navbar-toggle .navbar-nav .open .dropdown-menu > li > a {
  color: rgba(255,255,255,0.8);
}
.navbar-inverse .navbar-nav .open .dropdown-menu .divider {
  background-color: rgba(255,255,255,0.4);
}

.navbar-inverse .navbar-toggle {
  border-color: #fff;
}

.navbar-brand {
  padding: 10px 5px;
}

.navbar-logo {
  height: 100%;
}

.navbar .badge {
  color: #ff7c63;
  background-color: rgba(255,255,255,1);
  margin-left: 8px;
}

.nav-sidebar > li > a {
  color: #fff;
}

.nav-sidebar > li > a:hover {
  background-color: rgba(255,255,255,0.2);
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: rgba(255,255,255,1.0);
  font-weight: bold;
  background-color: rgb(255, 157, 104);
}

.sidebar {
  background-color: rgb(255, 178, 121);
}

.nav .caret {
  margin-left: 8px;
}

.nav .glyphicon {
  padding-right: 8px;
}

.nav .glyphicon-bell {
  padding-right: 0;
}

.navbar-sign-beta {
  position: relative;
  top: 20px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: rgb(255, 178, 121);
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: rgb(255, 157, 104);
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

.align-right {
  text-align: right !important;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.tooltip.right .tooltip-arrow {
  border-right-color: rgb(255, 178, 121);;
}

.tooltip.left .tooltip-arrow {
  border-left-color: rgb(255, 178, 121);;
}

.tooltip.top .tooltip-arrow {
  border-top-color: rgb(255, 178, 121);;
}

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: rgb(255, 178, 121);;
}

.tooltip-inner {
  background-color: rgb(255, 178, 121);
  color: #fff;
  padding: 10px;
}

#past table .glyphicon-thumbs-up {
  margin-right: 6px;
}

#past table .glyphicon-thumbs-down {
  margin-left: 6px;
}

#past table .glyphicon-thumbs-down, #past table .glyphicon-thumbs-up {
  color: #ccc;
  cursor: pointer;
}

#past table .glyphicon-thumbs-up:hover, #past table .glyphicon-thumbs-up.rated {
  color: green;
}

#past table .glyphicon-thumbs-down:hover, #past table .glyphicon-thumbs-down.rated {
  color: red;
}

.notif-new {
  background-color: #FCF8E3;
}

.profile-read-only-field {
  padding-top: 7px;
  display: inline-block;
}

.label-container {
  text-align: right;
}

.field-container {
  text-align: left;
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.profile-label-list {
  margin: 0;
  padding: 0;
}

.label-hobby, .label-country, .label-tag {
  background-color: #2980b9;
  font-size: 11pt;
  font-weight: normal;
  display: inline-block;
  margin-bottom: 5px;
  padding: 5px 8px;
}

.label-remove {
  opacity: 0.6;
  margin-left: 5px;
}

.modal {
  font-size: 11pt;
}

.hobby-sidebar {
  min-height: 60vh;
  border-right: 1px #2980b9 solid;
}

.hobby-content {
  max-height: 60vh;
}

.hobby-tiles {
  overflow-y: auto;
  max-height: 52vh;
}

.label-hobby-select {
  background-color: white;
  border: 1px #ddd solid;
  color: #2980b9;
  font-size: 11pt;
  font-weight: normal;
  display: inline-block;
  margin: 5px 0;
  width: 100%;
  padding: 5px 8px;
  cursor: pointer;
}

.label-hobby-select.selected {
  background-color: #2980b9;
  border: 1px #2980b9 solid;
  color: white;
}

.tab-content {
  padding: 10px 30px;
  border: 1px #ccc solid;
  border-top: none;
}

.marketplace-filterbar {
  background-color: rgb(255,245,215);
}

.marketplace-item {
  margin: 10px 0 20px 0;
}

.item-info {
  margin: 0 10px;
  font-size: 9pt;
}

.item-info .glyphicon {
  margin-right: 5px;
}

.marketplace-item-title {
  font-weight: bold;
  margin-bottom: 6px;
}

.marketplace-item-provider {
  font-style: italic;
  margin-top: 6px;
}

.marketplace-item-details {
  font-size: 8pt;
}

.marketplace-sortbar .row {
  margin: 0;
  margin-bottom: 10px;
}

.full-width {
  width: 100% !important;
}

.marketplace-filter-option {
  padding: 20px 0 30px 0;
  border-bottom: 1px #aaa solid;
}

.marketplace-filter-option-inner {
  max-height: 150px;
  overflow-y: auto;
}

.marketplace-filter-option:last-child {
  border-bottom: none;
}

.marketplace-filter-option-title {
  font-weight: bold;
}

.marketplace-filter-option ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.marketplace-filter-option input[type=checkbox] {
  top: -3px;
}

.benefit-other-media-container {
  margin-top: 10px;
}

.benefit-other-media-ul {
  margin: 0;
  padding: 0;
}

.benefit-other-media-li {
  display: inline-block;
  margin: 0 5px;
}

.benefit-info {
  font-size: 18pt;
  margin: 0 35px;
}

.benefit-info .glyphicon {
  margin-right: 10px;
}

.benefit-tag-list {
  margin: 0;
  padding: 0;
}

.benefit-section-header {
  font-size: 14pt;
  font-weight: bold;
}

.benefit-title-container {
  margin-bottom: 20px;
  border-bottom: 1px #ccc solid;
}

.benefit-title {
  margin-top: 10px;
}

.benefit-section {
  margin-bottom: 30px;
}

.glyphicon {
  margin-right: 5px;
}

.benefit-head-bar {
  margin-bottom: 10px;
}

.order-button {
  font-size: 14pt;
  font-weight: bold;
}

.benefit-item-info {
  padding-bottom: 10px;
  border-bottom: 1px #ccc solid;
}

.benefit-info-label {
  vertical-align: top;
  width: 30%;
  margin-bottom: 2px;
}

.benefit-info-data {
  width: 70%;
  display: inline-block;
}

.form-container {
  padding: 20px 15px 0 15px;

}

.employee-list-hobby-list {
  margin: 0;
  padding: 0;
}

.employee-list-hobby-list li {
  list-style: none;
  display: inline;
}

.hobbicons {
  height: 32px;
  width: auto;
  margin-right: 5px;
}

.hobbicons-more {
  margin-left: 10px;
  color: #D84440;
}

.count-badge {
   position:relative;
}
.count-badge[data-badge]:after {
   content:attr(data-badge);
   position:absolute;
   top:-10px;
   right:-10px;
   font-size:.8em;
   background:#D84440;
   color:white;
   width:18px;height:18px;
   text-align:center;
   line-height:18px;
   border-radius:50%;
}

.glyphicon-question-sign {
  color: #ccc;
}

.employee-list-bar {
  margin: 10px 0;
}
